html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1451px) and (max-width: 1920px) {
  body {font-size: 16px;}
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  body {font-size: 18px;}
}
@media screen and (min-width: 2561px) {
  body {font-size: 20px;}
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-22 {
  font-size: 22px;
}

.skew::after {
  position: relative;
  top: 2px;
  left: 10px;
  display: inline-block;
  content: '';
  width: 32px;
  height: 14px;
  background: url('../images/skew.png') no-repeat;
}

.transform-topLeft {
  transform: translate(10%, 10%);
}

.transform-topRight {
  transform: translate(-10%, 10%);
}

.transform-bottomLeft {
  transform: translate(10%, -10%);
}

.transform-bottomRight {
  transform: translate(-10%, -10%);
}
